<p id="username" style="float: right;padding-right: 2em; display: inline-flexbox;">Logged in as : @DeshawnRoss</p>
<nav class="navbar navbar-expand-lg navbar-light bg-green">
    <a class="navbar-brand">Express Fix</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/tickets">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tickets/new">New Ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registration">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
        </li>
    </ul>
    <form class="d-flex" class="nav-item" style="float: right;" action="/show/" method="GET">
        <input class="form-control me-2" class="search" class="nav-link" name="ticket" type="text" placeholder=" Search..">
        <button style="background-color: gainsboro;"  class="btn btn-outline-success" class="nav-item" class="nav-link" class="searchbar" type="submit">Submit</button>
    </form>
  </nav>