<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>About Express Tix</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem animi modi magnam unde in quas iste veniam eos. Aliquid adipisci inventore ipsam praesentium illum, cum neque facilis repudiandae commodi quia!</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3 >Customer Testimonials</h3>
      <hr>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, assumenda.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, assumenda.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, assumenda.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, assumenda.</li>

    </div>
  </div>
</div>
</main>

</body>
</html>