<!doctype html>
<html>
<head>
    <title>SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../partials/head'); %>
</head>
<body>
    <form action="/signin" method="POST">
        <div  class="container" class="input-group input-group-lg mb-3">
            <span class="input-group-text" >Username</span>
            <input type="text" id="name" name="name" class="form-control" placeholder="...username">
        </div>
        <div class="container"class="input-group input-group-lg mb-3">
            <span class="input-group-text">Password</span>
            <input type="text" id="password" name="password" class="form-control" placeholder="...password">
        </div>
       
        <div class="container">
            <button  class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</body>
</html> 
